{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container speech-bubble">
    <div class="row">
        <div class="span8 robin"></div>
        <div class="span8 content">
            <p class="action"></p>
            <h1><span class="holy">Holy</span>
                <span class="catchphrase">{{ catchphrase }}</span>,
                <span class="batman">Batman!</span></h1>
            <a href="#" class="btn primary large">{{ action }}!</a>
        </div>
    </div>
</div>
{% endblock %}
